<div class="form-group">
  <div class="col-sm-10">
    <form #f="ngForm" (ngSubmit)="submit(f.value,f.valid)" novalidate autocomplete="off">
      <div class="form-group">
        <input type="text" name="FlightFrom" class="form-control" [(ngModel)]="flightDetail.name" placeholder="Place from where the flight is:" required #refName='ngModel' pattern="^[a-zA-Z]*$">
        <div *ngIf="refName.errors && (refName.dirty || refName.touched)" class="alert alert-danger">
          <div [hidden]="!refName.errors.required">
            Name is required.
          </div>
          <div [hidden]="!refName.errors.pattern">
            Please enter alphabets.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="FlightTo" class="form-control" [(ngModel)]="flightDetail.flightto" placeholder="Enter the place the flight is going" required #refDescription='ngModel' minlength='2'>
        <div *ngIf="refDescription.errors && (refDescription.dirty || refDescription.touched)" class="alert alert-danger">
          <div [hidden]="!refDescription.errors.required">
           Description is required.
          </div>
          <div [hidden]="!refDescription.errors.minlength">
              Please enter atleast 2 characeters.
          </div>
        </div>   
       
      </div>
      <div class="form-group">
        <input type="text" name="rate" class="form-control" [(ngModel)]="flightDetail.airlines" placeholder="Enter the airlines" required #refrate='ngModel' pattern="^[0-9]*$" minlength="1"
         maxlength="3" >
        <div *ngIf="refrate.errors && (refrate.dirty || refrate.touched)" class="alert alert-danger">
          <div [hidden]="!refrate.errors.required">
            rate is required.
          </div>
          <div [hidden]="!refrate.errors.pattern">
            Please enter number.
          </div>
        </div>
      </div>
    <input type="text" name="date" class="form-control" [(ngModel)]="flightDetail.date" placeholder="Enter the arrival date" required #refdate='ngModel'/>
       <input type="text" name="time" class="form-control" [(ngModel)]="flightDetail.time" placeholder="Enter the arrival time" required #refdate='ngModel'/>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>

    </form>

    <hr/>
    <div *ngIf="arrayList.length > 0">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Flight From</th>
              <th>Flight To</th>
              <th>Airlines</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayList">
              <td>{{item.FlightFrom}}</td>
              <td>{{item.FlightTo}}</td>
              <td>{{item.Airlines}}</td>
              <td>{{item.Date}}</td>
              <td>{{item.Time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







